/*========= chapter-wise-Experiment-details ===========*/

.science-experiments.page-titile {
    font-size: 20px;
}

.experiment-details {
    background: #fff;
    padding: 30px 0;
}

.experiment-details .section-heading h2 {
    font-size: 25px;
}

.experiment-details .experiment-description ul li {
    display: block;
    color: #222222;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.experiment-details .experiment-description ul li:before {
    display: block;
    font: normal normal normal 18px/1 "Material Design Icons";
    content: "\F13B";
    position: absolute;
    left: 0;
    top: 5px;
    width: 5px;
    height: 5px;
    color: #00bac3;
}

/* style-2 */

.experiment-details .activity-description .single-description {
    margin: 35px 0 0;
}

.col-divider-margin-4 {
    width: 100%;
    float: left;
    margin-top: 40px;
}

/* =========== pagenation ============= */

.experiment-details ul.pagination {
    display: inline-block;
    position: relative;
}

.experiment-details .pagination>li>a,
.experiment-details .pagination>li>span {
    color: #323335;
    float: left;
    line-height: 20px;
    margin-left: -1px;
    padding: 0px 15px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}

.experiment-details .pagination>li:first-child>a,
.experiment-details .pagination>li:first-child>span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}

.experiment-details .pagination>li:last-child>a,
.experiment-details .pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

/* pagenation style 1
 ------------------------------ */

.experiment-details .pagination.style-1>li>a {
    border-radius: 100%;
    margin-left: 0px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 37px;
}

.experiment-details .pagination.style-1>li>a:hover,
.experiment-details .pagination.style-1>li>span:hover,
.experiment-details .pagination.style-1>li>a.active {
    background-color: #fc7c20;
    border-color: #fc7c20;
    color: #fff;
}

.experiment-details .pagination.style-1>li:first-child>a,
.experiment-details .pagination.style-1>li:last-child>a {
    background: none;
    border: none;
    color: #323335;
}

.experiment-details .pagination.style-1>li:first-child>a:hover,
.experiment-details .pagination.style-1>li:last-child>a:hover {
    color: #fc4242;
}

.divider-line.light {
    border-bottom: 1px solid #f1f1f1;
}

/* =========== End chapter-wise-Experiment-details ============= */

/* =========== Start Experiments-age-aside area ============= */

.experiment-details .sidebar {
    padding: 20px 0;
}

.experiment-details .sidebar .social-icons {
    width: 100%;
    padding-left: 0px;
}

.experiment-details .sidebar .social-icons li {
    display: inline-block;
    text-align: center;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a {
    position: relative;
}

.experiment-details .sidebar .social-icons.socila-lg li a {
    font-size: 20px;
    height: 40px;
    line-height: 35px;
    width: 40px;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.experiment-details .sidebar .social-icons li a {
    color: #242424;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 39px;
    margin: 0 5px 5px 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 40px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    transition: all 0.3s ease-out 0s;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a .frount {
    width: 100%;
    position: absolute;
    top: 0px;
    transition: all .3s ease-in-out;
}

.experiment-details .sidebar .social-icons li a i {
    color: #323335;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a .back {
    width: 100%;
    position: absolute;
    top: -62px;
    transition: all .3s ease-in-out;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a:hover .frount {
    top: 62px;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a:hover .back {
    top: 0px;
}

.experiment-details .sidebar .social-icons.h-anim-slide-top li a:hover .back i {
    color: #fff;
}

.experiment-details .sidebar .social-icons li.hover-google-plus a i {
    color: #EA4335;
}

.experiment-details .sidebar .social-icons li.hover-facebook a i {
    color: #3b5ea1;
}

.experiment-details .sidebar .social-icons li.hover-twitter a i {
    color: #2bb3fa;
}

.experiment-details .sidebar .social-icons li.hover-linkedin a i {
    color: #0077B5;
}

.experiment-details .sidebar .social-icons li.hover-google-plus a:hover {
    background-color: #EA4335;
    border: 1px solid #EA4335;
}

.experiment-details .sidebar .social-icons li.hover-facebook a:hover {
    background-color: #3b5ea1;
    border: 1px solid #3b5ea1;
}

.experiment-details .sidebar .social-icons li.hover-twitter a:hover {
    background-color: #2bb3fa;
    border: 1px solid #2bb3fa;
}

.experiment-details .sidebar .social-icons li.hover-linkedin a:hover {
    background-color: #0077B5;
    border: 1px solid #0077B5;
}

.experiment-details .widget-sidebar h3 {
    font-size: 20px;
    letter-spacing: 0;
    color: #00bac3;
    line-height: 30px;
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 28px;
    padding-bottom: 16px;
    position: relative;
}

.experiment-details .widget-sidebar h3:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 100px;
    background-color: #00bac3;
}

.experiment-details .aside-images img {
    border: 1px solid #00bac3;
    padding: 4px;
}

.experiment-details .sidebar .widget-sidebar {
    min-height: 20px;
    padding: 0px 20px 20px;
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.experiment-details .sidebar .chapter-tags {
    padding: 0px 20px 20px;
}

.experiment-details .sidebar .chapter-tags .ed-list {
    padding: 0px;
    margin: 30px 0 10px;
}

.experiment-details .sidebar .chapter-tags .ed-list li {
    display: inline-block;
    margin: 6px 0px 8px;
    color: #222222;
}

.experiment-details .sidebar .chapter-tags .ed-list li a {
    margin: 0 4px 10px 0;
    color: #222222;
    padding: 6px 12px;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.experiment-details .sidebar .chapter-tags .ed-list li a:hover,
.experiment-details .sidebar .chapter-tags .ed-list li a.active {
    color: #fff;
    border: 1px solid #00bac3;
    background-color: #00bac3;
}


/* =========== End Experiments-age-aside area ============= */

/* =========== Start kolb-quote ============= */

.quote-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 186, 195, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}

.kolb-quote {
    background: url("../img/experiment-details-imgs/quote-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 70px 0;
}

.kolb-quote .kolb-quote-icon span {
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 85px;
    line-height: 80px;
    opacity: 0.8;
    text-align: center;
    width: 85px;
}

.kolb-quote .kolb-quote-text {
    color: #fff;
    padding-top: 7px;
    line-height: 25px;
    font-size: 16px;
}

.kolb-quote .kolb-quote-btn {
    font-weight: 700;
    margin: 20px 0px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #f1f1f1;
    background: #fff;
}

.kolb-quote .kolb-quote-btn:hover,
.kolb-quote .kolb-quote-btn.active {
    color: #fff;
    border: 2px solid #fc7c20;
    background-color: #fc7c20;
}

/* =========== End kolb-quote ============= */